# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GreedyGoblins.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\marco\Desktop\UE4\UE_Projects\MULTI_00_Greedy_Goblins\GreedyGoblins\.idea\.idea.GreedyGoblins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
